.hxmos-blur-container .hxmos-blurable {
  filter: blur(6px) grayscale(100%);
}

.hxmos-blur-container .screening-events pre {
  max-height: 100px !important;
  overflow: hidden;
}

.hxmos-toggle-button-container {
  min-width: 320px;
  text-align: center;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  position: relative;
  flex: 1;
}

.hxmos-sticky-toggle-button {
  display: none;
}

.hxmos-sticky-toggle-button-visible.hxmos-sticky-toggle-button {
  display: inline-block;
}

.hxmos-sticky-toggle-button-container {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 10000;
}

label.hxmos-toggle-button {
  display: flex;
  gap: 4px;
  align-items: center;
}

label.hxmos-toggle-button input {
  display: none;
}

label.hxmos-toggle-button .hxmos-switcher {
  width: 64px;
  height: 32px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  border: 2px solid #0d5a96;
}

label.hxmos-toggle-button .hxmos-switcher::before {
  display: block;
  content: "";
  background: #0d5a96;
  width: 26px;
  height: 26px;
  border-radius: 14px;
  margin: 0 2px;
  transition: transform .3s;
}

label.hxmos-toggle-button:has(:checked) .hxmos-switcher {
  background: #0d5a96;
}

label.hxmos-toggle-button:has(:checked) .hxmos-switcher::before {
  transform: translateX(30px);
  transition: transform .3s;
  background: #fff;
}

label.hxmos-toggle-button:has(:checked) .hxmos-toggle-button-caption-off,
label.hxmos-toggle-button .hxmos-toggle-button-caption-on {
  display: none;
}
label.hxmos-toggle-button:has(:checked) .hxmos-toggle-button-caption-on,
label.hxmos-toggle-button .hxmos-toggle-button-caption-off {
  display: inline;
  font-weight: bold;
}